[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "AeroSampleR"]
	path = AeroSampleR
	url = https://github.com/markhogue/aerosampler
[submodule "RadData"]
	path = RadData
	url = https://github.com/markhogue/raddata
[submodule "radsafer"]
	path = radsafer
	url = https://github.com/markhogue/radsafer
